# Discord Bot Token from https://discord.com/developers/applications
DISCORD_TOKEN=your_bot_token_here

# The name of the channel where shamed messages will be posted
SHAME_CHANNEL_NAME=hall-of-shame

# The emoji that triggers the shame (default: 📸)
TRIGGER_EMOJI=📸

# How many reactions are required before a message is sent to the Hall of Shame
REQUIRED_REACTIONS=3
